# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\_CPP_projects_\laba_1_siaod\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
